<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <!-- Bootstrap core CSS -->
    <link href="bootstrap_theme/bootstrap.css" rel="stylesheet" type="text/css"/>
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="blocks.css"/>
    <link href="style.css" rel="stylesheet"/>   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.7.4-rc.1/web3.min.js"></script>
    <title>brag.charity - Digital Education and Safety Foundation</title>
  </head>